<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="flex justify-center">
    <h1 class="text-lg">{{ title }}</h1>
</div>
<div class="container mx-auto flex flex-col">
    <div class="flex justify-center mt-8">
        <h2 class="text-lg">Таблица открытых проектов в категориях</h2>
    </div>
    <table class="border-collapse border-2 border-gray-500 w-full">
        <thead>
        <tr>
            <th class="border border-gray-400 px-4 py-2 text-gray-800">Project</th>
            <th class="border border-gray-400 px-4 py-2 text-gray-800">Budget</th>
            <th class="border border-gray-400 px-4 py-2 text-gray-800">Employer</th>
            <th class="border border-gray-400 px-4 py-2 text-gray-800">Skills</th>
            <th class="border border-gray-400 px-4 py-2 text-gray-800">Published At</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects|slice(0, 9) %}
            <tr>
                <td class="border border-gray-400 px-4 py-2"><a href="{{ project.link }}">{{ project.name }}</a></td>
                <td class="border border-gray-400 px-4 py-2">{{ project.budget }}</td>
                <td class="border border-gray-400 px-4 py-2">
                    {{ project.employer_name }}
                    <span class="block text-sm text-gray-500">{{ project.employer_login }}</span>
                </td>
                <td class="border border-gray-400 px-4 py-2">
                    {% for skill in project.skills %}
                        <span class="m-1 p-1 bg-green-500 text-white text-sm">{{  skill.name }}</span>
                    {% endfor %}
                </td>
                <td class="border border-gray-400 px-4 py-2">{{ project.published_at|date("m/d/Y h:i") }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div class="mt-4 justify-end">
        {% if page > 1 %}
            <a href="/?page={{ page-1 }}" class="border border-gray-500 p-1">Prev</a>
        {% endif %}
        {% if projects.count > 10 %}
            <a href="/?page={{ page+1 }}" class="border border-gray-500 p-1">Next</a>
        {% endif %}
    </div>

    <div class="flex justify-center mt-8">
        <h2 class="text-lg">Таблица со статистикой всех открытых проектов по навыкам</h2>
    </div>
    <table class="border-collapse border-2 border-gray-500 w-full">
        <thead>
        <tr>
            <th class="border border-gray-400 px-4 py-2 text-gray-800">Skill</th>
            <th class="border border-gray-400 px-4 py-2 text-gray-800">Projects Count</th>
        </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr>
                <td class="border border-gray-400 px-4 py-2">{{ skill.name }}</td>
                <td class="border border-gray-400 px-4 py-2">{{ skill.projects_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mt-8 w/1-3 mx-auto">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script>
    let ctx = document.getElementById('myChart');

    let myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['до 500 грн', '500-1000 грн', '1000-5000 грн', '5000-10000 грн', 'более 10000 грн'],
            datasets: [{
                label: '# of Projects',
                data: [
                    '{{ chart.lt500 }}',
                    '{{ chart.lt1000 }}',
                    '{{ chart.lt5000 }}',
                    '{{ chart.lt10000 }}',
                    '{{ chart.gt10000 }}'
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                borderWidth: 1
            }]
        }
    });
</script>
</html>
